{
	admin caddy:2019

	servers {
		metrics
	}

	log {
		output stderr
	}
}

(app) {
	tls wooseop@protonmail.com

	encode zstd gzip

	header {
		Permissions-Policy interest-cohort=()
		Strict-Transport-Security max-age=31536000;
		Referrer-Policy no-referrer
		X-Robots-Tag noindex
	}

	reverse_proxy {args.0} {
		header_up X-Real-IP {remote_host}
	}
}

https://grafana.{$DOMAIN} {
	import app "grafana:3000"
}

https://vaultwarden.{$DOMAIN} {
	import app "vaultwarden:80"

	reverse_proxy /notifications/hub vaultwarden:3012
}

https://etesync.{$DOMAIN} {
	import app "etesync:8000"

	file_server * browse {
		root /srv/etebase/static
	}

	reverse_proxy etesync:8000 {
		header_up X-Real-IP {remote_host}
	}
}

https://gitea.{$DOMAIN} {
	import app "gitea:3000"

	reverse_proxy gitea:22
}

https://giscus.{$DOMAIN} {
	import app "giscus:3000"
}

