{
	admin caddy:2019

	servers {
		metrics
	}

	log {
		output discard
	}
}

https://grafana.apps.wooseop.kim {
	tls wooseop@protonmail.com

	encode zstd gzip

	reverse_proxy grafana:3000 {
		header_up X-Real-IP {remote_host}
	}
}

https://vaultwarden.apps.wooseop.kim {
	tls wooseop@protonmail.com

	encode zstd gzip

	reverse_proxy /notifications/hub vaultwarden:3012

	reverse_proxy vaultwarden:80 {
		header_up X-Real-IP {remote_host}
	}
}

https://etesync.apps.wooseop.kim {
	tls wooseop@protonmail.com

	encode zstd gzip

	file_server * browse {
		root /srv/etebase/static
	}

	reverse_proxy etesync:8000 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}
}
